/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/doc/
/pkg/
/spec/reports/
/tmp/
/files/expert_record.txt
/files/beginner_record.txt
/files/intermediate_record.txt
/files/top_ten_beginner.yaml
/files/top_ten_expert.yaml
/files/top_ten_intermediate.yaml
